.App {
  text-align: center;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.Game {
  width: 95vw;
}

#integer {
  margin: 5px;
  font-size: 30px;
}

#integer:hover {
  color: red;
  cursor: pointer;
}

#deleteButton {
  background-color: red;
  color: white;
  border-color: white;
  border-radius: 5px;
  cursor: pointer;
}
